@import url("https://fonts.google.com/share?selection.family=Barlow:wght@100|Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900");



body {
    background-color: #1A5B65;
    background-image: url("40gp-uneedit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 560px;
    max-height: 100%;
    position: absolute;
}

.text1 {
    text-decoration: none;
    font-family:"Roboto Light";
}
.text2 {
    font-family:"Roboto Thin";
    text-decoration: none;
    color: white;
}

.logo1 {
    display: flex;
    justify-content: right;
    margin-left: 400px;
}



.navbar {
    float: left;
    position: sticky;
    justify-content: space-between;
    top: 0px;
    background-size: cover;
    text-decoration: none;
    background-color: white;
    width: 100%;
    height: 65px;



}
.logo {
    display: flex;
    justify-content: left;
    width: 140px;
    height: 50px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;

}

.nav-list li {
    margin-left: 20px;
    display: flex;
    justify-content: right;
}



.nav-list li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
}

.footer {
    background-color: #1A5B65;
    display: flex;
    margin-top: 443px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: -8px;
}


